/*
 *
 * Battleroom Styling sheet
 *
*/

#battleroom
{
    height: 100%;
    width: 100%;

    background-color: rgb(37, 37, 38);
    flex-direction:   row;
}

#battleroom_leftdiv
{
    display:        flex;
    flex-grow: 1;
    width: 75%;
    flex-direction: column;
}

#matchinfodiv
{
    flex-direction: column;

    flex-shrink: 1;
    width: 25%;
    height: 100%;
}

#matchtable
{
    flex-grow: 1;
    height: 55%;
    width: 100%;
}

#matchchat
{
    flex-direction :column;
    flex-shrink: 1;

    height: 45%;
    width: 100%;
}

#matchchatfield
{
    width: 100%;
    height: calc(100% - 30px);
}

#matchchatinputbar
{
    flex-direction: row ;
    display: flex;

    width: 100%;

    height: 30px
}

#matchchattextarea
{
    width: calc(100% - 120px);
}

#matchchatbtn
{
    width: 120px;
    height: 30px;

    background-color: rgb(22, 130, 93);
}

#matchchatbtn:hover
{
    background-color: rgb(49, 148, 113);
}