/*
 *
 *   Chat Widget Styling
 *
 */

#chat
{
    flex: auto;
    flex-direction: row;
    height: 100%;
}

#chatdiv
{
    flex: auto;
    display: flex;
    flex-direction: column;
    height: 100%;

    flex-grow: 1;
}

#playersdiv
{
    flex-shrink: 1;
    flex-direction: column;

    height: 100%;
    width: 250px;

    background-color: rgb(51, 51, 51);
}

#chatfield
{
    /* flex: auto; */
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-shrink: 0;

    overflow: auto;

    background-color: rgb(37, 37, 38);

    /* Transition not yet implemented, wont work so easily */
    /* transition: 1s; */
}

#chatfield > .msg
{
    margin: 0px;

    padding-top:    4px;
    padding-bottom: 4px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:   16px;
}

#chatfield > .msg.right
{
    color: rgba(255, 255, 255, 1);

    padding-right: 8px;

    text-align: right;
}

#chatfield > .msg.left
{
    color: rgba(255, 255, 255, .4);

    padding-left: 8px;

    text-align: left;
}

#chatbar
{
    display: flex;

    flex-grow: 0;
    flex-shrink: 1;

    height: 38px;

    background-color: rgb(51, 51, 51);
}

.chatbutton
{
    height: 100%;
    width: 150px;
    background-color: rgb(22, 130, 93);

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#chatlogo
{
    display: flex;

    align-items: center;

    padding: 7px;
}

#chatlogo > svg
{
    flex: auto;

    width:  70%;
    height: 70%;
}

.chatbutton > #chatlogo
{
    fill:   rgb(187, 187, 187);
    stroke: rgb(187, 187, 187);
}

.chatbutton:hover > #chatlogo
{
    fill:   rgba(255, 255, 255, 1);
    stroke: rgba(255, 255, 255, 1);
}

.chatbutton.active > #chatlogo
{
    fill:   rgba(255, 255, 255, 1);
    stroke: rgba(255, 255, 255, 1);
}

#chatinput
{
    flex: auto;

    /* background-color: rgb(51, 51, 51); */
    background-color: white;
}

.chatbutton:hover
{
    background-color: rgb(49, 148, 113);
}

#textarea
{
    background-color: rgba(255, 255, 255, 1);

    width: 100%;
    height: 100%;

    font-size: 16px;
}

#textarea:focus
{
    outline: none;
}