/*
*
* Chat players list styling
*
 */

#chatplayers
{
    width: 100%;
    height: 100%;

    overflow: auto;
}

#playerstable
{
    width: 100%;

    background-color: rgb(51, 51, 51);
}

#playerstable > tr
{

    height: 20px;
    width: 70%;

    color: white;
}

#playerstable > td
{
    height: 20px;
}

/* rgb(71, 71, 71); */