/*
*
* Setting tab styling sheet
*
*/

#settingsdiv
{
    height: 100%;
    width: 100%;

    flex-direction: column;
}

#settingstop
{
    height: 10%;
    width: 100%;
    background-color: rgb(14, 119, 82);

    display: inline-flex;
}

#settingsbot
{
    display: flex;

    width: 100%;
    height: 90%;

    flex-direction: row;
}

#catcontainer
{
    height: 100%;
    width: 15%;

    background-color: rgb(24, 24, 24);
    overflow: auto;
}

#maincontainer
{
    height: 100%;
    width: 85%;

    background-color: rgb(37, 37, 38);
}

.settingscat
{
    position: relative;
    color: white;

    left: 8%;
    height: 30px;
    font-size: 28px;

    margin-bottom: 17%;

    width: fit-content;
}

.settingscat:hover
{
    color: rgb(14, 119, 82);
    cursor: pointer;
}

.settingsheader
{
    position: relative;
    color: rgba(255, 255, 255, 0.253);

    width: fit-content;
    left: 18%;
    height: 30px;
    font-size: 28px;
    margin-top: 10%;
    margin-bottom: 17%;
}

#settingspath
{
    position: relative;

    color: white;
    font-size: 35px;

    left: 5%;

    align-self: center;
    font-style: italic;
}

.catactive
{
    position: relative;
    color: rgb(14, 119, 82);

    left: 8%;
    height: 30px;
    font-size: 28px;

    margin-bottom: 17%;

    width: fit-content;
}